/* Add your CSS Below */
.one__b {
  position: relative;
  bottom: 20px;
  left: 20px;
}

.two__c {
  position: absolute;
  left: 233px;
  bottom: 32px;
}

.three__a {
  position: fixed;
  top: 353px;
  left: 1047px;
}
