/* Add your CSS Below */
table{
    width: 60%;
    border: 2px solid gray;
    border-radius: 4%;
    overflow: hidden;
    border-collapse: collapse;
}

tr{
    border-bottom: 3px solid rgb(0, 0, 0) ;
}

td:nth-of-type(3){
    text-align: right;
}

th:nth-of-type(3){
    text-align: right;
}

td:nth-of-type(2){
    text-align: center;
}

td:nth-of-type(1){
    text-align: right;
}

th:nth-of-type(1){
    text-align: right;
}
th{
    background-color: green;
}